* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    color: beige;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.brand-image {
    width: 100%;
    max-width: 140px;
}

.nav {
    padding: 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brand {
    padding: .75em 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.brand-image {
    max-width: 200px;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 198, 234);
}

.menu-item {
    padding: 0.75em 0;
    color: rgb(220, 20, 157);
    text-decoration: none;
    text-align: center;
} 

/*  Estilos para tablets 768px */

@media screen and (min-width: 768px) {
    .nav {
        border-bottom: 1px rgb(166, 63, 142)
    }

    .menu {
        flex-direction: row;
        background-color: rgb(255, 224, 251);
    }

    .menu-item {
        flex-grow: 1;
        color: crimson;
    }
}

/*  Estilos para laptop de 1024 px */ 

@media screen and (min-width:1024px) {
    .nav {
        padding: .75rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .brand {
        padding: 0;
    }

    .menu {
        gap: 2rem;
    }

    .menu-item {
        color: rgb(159, 46, 144);
        cursor: pointer;
    }
}

@media screen and (min-width: 1280px) {
    .nav {
        max-width: 1280px;
        margin: 0 auto;
    }
} 